.container-contatos {
  margin: 5rem 1rem !important;
  padding-bottom: 3rem;
}

.btn-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 50px;
}
.btn {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 120px;
  height: 50px;
  background-color: var(--color-primary);
  border-radius: 8px;
  transition: 250ms;
  display: flex;
  justify-content: space-evenly;
}

.btn:hover {
  background-color: var(--color-primary-light);
  transition: 250ms;
}

@media (max-width: 768px) {
  .btn-list {
    padding-top: 10px;
    padding-bottom: 5px;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .btn {
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px auto;
    background-color: var(--color-primary);
    border-radius: 8px;
    transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    font-size: 1rem;
    width: 40vw;
    padding: 10px;
    height: 80px;
    justify-content: space-around;
  }
  .btn:active {
    background-color: var(--color-primary-light);
    box-shadow: 2px 2px 5px black;
  }
}
