.card {
  background-color: var(--color-primary);
  border-radius: 8px;
  box-shadow: 2px 2px 5px black;
  width: 25.0rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  line-height: 20px;
}

.card-header {
  background-color: var(--color-primary-light);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  font: 500 1.2rem 'Open Sans',
    sans-serif;
}

.card-body {
  text-align: left;
  padding: 10px 20px;
  min-height: 150px;
  font: 400 1rem 'Open Sans',
    sans-serif;
  font-style: italic;
  line-height: 1.5rem;
  overflow: hidden;

}

.card-footer {
  display: flex;
  justify-content: end;
  padding: 10px 20px;
}

.card-btn {
  width: 120px;
  height: 40px;
  background-color: var(--color-bg);
  border-radius: 8px;
  transition: 550ms;
  font: 600 1rem 'Open Sans',
    sans-serif;
}

.card-btn:hover {
  background-color: var(--color-primary-light);
  transition: 250ms;
}

.badge {
  background-color: brown;
  border-radius: 5px;
  padding: 1px 5px;
  font-size: 12pt;
  font-weight: 400;
}