.card {
  background-color: var(--color-primary);
  border-radius: 8px;
  display: block;
  box-shadow: 2px 2px 5px black;
  max-width: 100%;
}

.card-header {
  background-color: var(--color-primary-light);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 20px 20px;
  text-align: left;
  font-weight: 500;
}

.card-body {
  text-align: left;
  padding: 20px;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
}

.card-btn {
  align-self: end;
  width: 120px;
  height: 40px;
  background-color: var(--color-bg);
  border-radius: 8px;
  transition: 550ms;
}

.card-btn:hover {
  background-color: var(--color-primary-light);
  transition: 250ms;
}
