.menu {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--color-primary);
  list-style: none;
  height: 3rem;
  box-shadow: 0px 0px 5px black;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: var(--color-secondary-light);
  font-weight: 500;
  font-size: 0.8rem;
}

.menu-item {
  background-color: var(--color-primary);
  flex: 1;
  height: 100%;
  cursor: pointer;
  transition: 1s;
  transform-style: flat;
  opacity: 0.8;
}

.menu-item:hover {
  background-color: var(--color-primary-light);
  opacity: 1;
  transition: 1s;
  flex: 2;
}

.border-left {
  border-bottom-left-radius: 1rem;
}

.border-right {
  border-bottom-right-radius: 1rem;
}

@media (max-width: 768px) {
  .border-left {
    border-bottom-left-radius: 1rem;
  }

  .border-right {
    border-bottom-right-radius: 1rem;
  }
}